.breadcrumbs {
    
    &__list {
        display: flex;
        align-items: center;
        padding: 36px 0;
        border-bottom: 1px solid #eee;

    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;

            &::after {
                content: "/";
                position: absolute;
                top: 50%;
                right: -15px;
                font-size: 10px;
                color: gray;
                transform: translateY(-50%);
            }
        }
    }

    &__link {
        font-size: 10px;
        text-transform: uppercase;
        color: gray;

        &--current {
            color: black;
        }
    }
}