.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

.burger {
    display: none;
}

.logo {
        display: inline-block;
        font-size: 24px;
        text-transform: uppercase;
    }

.burger {
  display: none;

    &__line {
        width: 25px;
        height: 2px;
        background-color: black;

        &:not(:last-child) {
        margin-bottom: 5px;
        }
    }
}

@media (max-width: (1024px)) {
    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .nav {
        display: none;
    }
}

